body {
	background: url('http://cdn.wallpapersafari.com/13/6/Mpsg2b.jpg');
	margin: 0px;
	font-family: 'Ubuntu', sans-serif;
	background-size: 100% 110%;
}

h1, h2, h3, h4, h5, h6, a {
	margin: 0;
	padding: 0;
}

